flows.json
[{"id":"b3ffa782.ed0498","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"35638fab.cc","type":"ibmiot in","z":"b3ffa782.ed0498","authentication":"apiKey","apiKey":"722c107e.d071c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"sprinkler","applicationId":"","deviceType":"node_mcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":200,"wires":[["64d6d323.a40eac","e08607fc.1c1608","468d2787.d5a358","b98eab5a.518ff8","9de6bd77.08355","1fb4a465.9c696c"]]},{"id":"e08607fc.1c1608","type":"debug","z":"b3ffa782.ed0498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":220,"wires":[]},{"id":"3c894f41.ebcce","type":"ui_gauge","z":"b3ffa782.ed0498","name":"","group":"4f884662.dbdaf8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":60,"wires":[]},{"id":"6a03c24e.1398cc","type":"ui_gauge","z":"b3ffa782.ed0498","name":"","group":"4f884662.dbdaf8","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":180,"wires":[]},{"id":"8f6cb173.4816d","type":"ui_gauge","z":"b3ffa782.ed0498","name":"","group":"4f884662.dbdaf8","order":1,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":120,"wires":[]},{"id":"64d6d323.a40eac","type":"cloudant out","z":"b3ffa782.ed0498","name":"","cloudant":"","database":"iot","service":"node-red-izogv-2020--cloudant-1601539040538-60808","payonly":true,"operation":"insert","x":570,"y":240,"wires":[]},{"id":"7aa08503.b5d7cc","type":"http request","z":"b3ffa782.ed0498","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/onecall?lat=10.762998&lon=76.144531&exclude=hourly,daily&appid=4f40759610413efbf28b73f6ce0d18a1","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":400,"wires":[["e08607fc.1c1608","a3fb9ec7.5772b","b38fcd2f.2325e","33e5c859.29f228","1b333b06.fbeea5","9a28f0e2.1b4ed","89acd831.3f8068"]]},{"id":"1d73fc53.93d994","type":"inject","z":"b3ffa782.ed0498","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"500","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":400,"wires":[["7aa08503.b5d7cc"]]},{"id":"5e416b18.28f1c4","type":"ui_gauge","z":"b3ffa782.ed0498","name":"","group":"fb31ef39.f6f1e","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{payload.current.temp}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":400,"wires":[]},{"id":"a3fb9ec7.5772b","type":"ui_gauge","z":"b3ffa782.ed0498","name":"","group":"fb31ef39.f6f1e","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{payload.current.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":440,"wires":[]},{"id":"b38fcd2f.2325e","type":"unit-converter","z":"b3ffa782.ed0498","category":"temperature","inputUnit":"K","outputUnit":"C","inputField":"payload.current.temp","outputField":"payload.current.temp","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"0","name":"","x":600,"y":400,"wires":[["5e416b18.28f1c4"]]},{"id":"233de54b.1ce00a","type":"http in","z":"b3ffa782.ed0498","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":260,"y":720,"wires":[["2d06237.4395adc"]]},{"id":"2d06237.4395adc","type":"function","z":"b3ffa782.ed0498","name":"","func":"msg.payload={'Temperature':global.get(\"Temperature\"),'Humidity':global.get(\"Humidity\"),'Soil_Moisture':global.get(\"Soil_Moisture\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":720,"wires":[["b902db43.ac9b68"]]},{"id":"b902db43.ac9b68","type":"http response","z":"b3ffa782.ed0498","name":"","statusCode":"","headers":{},"x":690,"y":720,"wires":[]},{"id":"468d2787.d5a358","type":"function","z":"b3ffa782.ed0498","name":"","func":"global.set('Temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":60,"wires":[["3c894f41.ebcce"]]},{"id":"b98eab5a.518ff8","type":"switch","z":"b3ffa782.ed0498","name":"filter","property":"payload.Soil_Moisture","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":300,"wires":[["e48df15a.201f"]]},{"id":"e48df15a.201f","type":"function","z":"b3ffa782.ed0498","name":"","func":"msg={\n    payload:\"Soil mosture very low!!!    \"+ Date().toString(),\n    topic:\"Emergency!!\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":300,"wires":[["a0f7479c.46bd18","97e87f43.4fd37"]]},{"id":"a0f7479c.46bd18","type":"e-mail","z":"b3ffa782.ed0498","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"iedc@simat.ac.in","dname":"","x":950,"y":320,"wires":[]},{"id":"97e87f43.4fd37","type":"debug","z":"b3ffa782.ed0498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":260,"wires":[]},{"id":"9de6bd77.08355","type":"function","z":"b3ffa782.ed0498","name":"","func":"global.set('Soil_Moisture',msg.payload.Soil_Moisture)\nmsg.payload=msg.payload.Soil_Moisture;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":120,"wires":[["8f6cb173.4816d"]]},{"id":"1fb4a465.9c696c","type":"function","z":"b3ffa782.ed0498","name":"","func":"global.set('Humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["6a03c24e.1398cc"]]},{"id":"624f111e.0799e","type":"ui_button","z":"b3ffa782.ed0498","name":"","group":"7869fa9f.1f2934","order":1,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"power","payload":"{\"command\":\"MOTOR ON\"}","payloadType":"json","topic":"","x":280,"y":1040,"wires":[["2c43a36e.a1398c","3bd6f2e2.01893e"]]},{"id":"de95c09f.8d3d9","type":"ui_button","z":"b3ffa782.ed0498","name":"","group":"7869fa9f.1f2934","order":2,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOR OFF\"}","payloadType":"json","topic":"","x":280,"y":1120,"wires":[["2c43a36e.a1398c","3bd6f2e2.01893e"]]},{"id":"2c43a36e.a1398c","type":"debug","z":"b3ffa782.ed0498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1000,"wires":[]},{"id":"3bd6f2e2.01893e","type":"ibmiot out","z":"b3ffa782.ed0498","authentication":"apiKey","apiKey":"4ce357d8.270ea8","outputType":"evt","deviceId":"motor","deviceType":"actuators","eventCommandType":"actuator","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":1120,"wires":[]},{"id":"d1c58147.53fcd","type":"function","z":"b3ffa782.ed0498","name":"motor","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":800,"wires":[["671b9393.cfc2ac","2c43a36e.a1398c"]]},{"id":"671b9393.cfc2ac","type":"http response","z":"b3ffa782.ed0498","name":"","statusCode":"","headers":{},"x":690,"y":800,"wires":[]},{"id":"33e5c859.29f228","type":"ui_gauge","z":"b3ffa782.ed0498","name":"","group":"fb31ef39.f6f1e","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"bars","format":"{{payload.current.pressure}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":480,"wires":[]},{"id":"1b333b06.fbeea5","type":"ui_gauge","z":"b3ffa782.ed0498","name":"","group":"fb31ef39.f6f1e","order":3,"width":0,"height":0,"gtype":"wave","title":"Percipitation Probability","label":"","format":"{{payload.current.clouds}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":540,"wires":[]},{"id":"9a28f0e2.1b4ed","type":"switch","z":"b3ffa782.ed0498","name":"filter","property":"payload.current.clouds","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":620,"wires":[["c54bf1ba.0f8b","624f111e.0799e"]]},{"id":"c54bf1ba.0f8b","type":"function","z":"b3ffa782.ed0498","name":"","func":"msg={\n    payload:\"Probability to Rain is less than 30%. Turn ON the Motor \"+ Date().toString(),\n    topic:\"No Rain!!\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":620,"wires":[["a0f7479c.46bd18"]]},{"id":"89acd831.3f8068","type":"cloudant out","z":"b3ffa782.ed0498","name":"","cloudant":"","database":"weather_data","service":"node-red-izogv-2020--cloudant-1601539040538-60808","payonly":true,"operation":"insert","x":630,"y":680,"wires":[]},{"id":"8ed62cdd.6bd9e","type":"http in","z":"b3ffa782.ed0498","name":"","url":"/commandoff","method":"get","upload":false,"swaggerDoc":"","x":290,"y":880,"wires":[["b8a933fc.21bc4"]]},{"id":"b8a933fc.21bc4","type":"function","z":"b3ffa782.ed0498","name":"motor","func":"msg.payload=msg.payload.commandoff\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":880,"wires":[["22403ece.4b04e2","2c43a36e.a1398c"]]},{"id":"22403ece.4b04e2","type":"http response","z":"b3ffa782.ed0498","name":"","statusCode":"","headers":{},"x":650,"y":880,"wires":[]},{"id":"ce356686.64eee8","type":"http request","z":"b3ffa782.ed0498","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"/command","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":800,"wires":[["d1c58147.53fcd"]]},{"id":"722c107e.d071c","type":"ibmiot","z":"","name":"IBM Sensors","keepalive":"60","serverName":"528s8w.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4f884662.dbdaf8","type":"ui_group","z":"","name":"Sensor Data","tab":"f6221109.57548","order":1,"disp":true,"width":"8","collapse":false},{"id":"fb31ef39.f6f1e","type":"ui_group","z":"","name":"Weather Data","tab":"be9fab62.868888","order":1,"disp":true,"width":"6","collapse":false},{"id":"7869fa9f.1f2934","type":"ui_group","z":"","name":"Motor","tab":"f6221109.57548","order":2,"disp":true,"width":8,"collapse":false},{"id":"4ce357d8.270ea8","type":"ibmiot","z":"","name":"IBM Actuators","keepalive":"60","serverName":"528s8w.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"f6221109.57548","type":"ui_tab","z":"","name":"Sensor_Data","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"be9fab62.868888","type":"ui_tab","z":"","name":"Weather Data","icon":"dashboard","order":2,"disabled":false,"hidden":false}]